<ion-view title="Расписание">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<div class="tabs-striped  tabs-top">
    <div class="tabs">
      <a class="tab-item" ng-click="myFilter = is1; scrollTop()" ng-class="{active: myFilter == is1}">
        Пн
      </a>
      <a class="tab-item"   ng-click="myFilter = is2; scrollTop()" ng-class="{active: myFilter == is2}">
        Вт
      </a>
      <a class="tab-item"  ng-click="myFilter = is3; scrollTop()" ng-class="{active: myFilter == is3}">
        Ср
      </a>
      <a class="tab-item" ng-click="myFilter = is4; scrollTop()" ng-class="{active: myFilter == is4}">
        Чт
      </a>
      <a class="tab-item" ng-click="myFilter = is5; scrollTop()" ng-class="{active: myFilter == is5}">
        Пт
      </a>
      <a class="tab-item" ng-click="myFilter = is6; scrollTop()" ng-class="{active: myFilter == is6}">
        Сб
      </a>
      <a class="tab-item" ng-click="myFilter = is7; scrollTop()" ng-class="{active: myFilter == is7}">
        Вс
      </a>

    </div>
  </div>

  <ion-content class="has-header has-tabs-top schedule">
  {{ ionicLoading }}
        <ion-refresher on-refresh="doRefresh()"
                     refreshing-icon="ion-loading-c">
                     
      </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="item in items | filter:myFilter | orderBy: 'node.field_times'" class="item item-thumbnail-left" ng-click="toggle=!toggle"> 

      <img ng-src="{{ item.node.field_photo }}">   <h2>{{ item.node.field_rstyle }}
          </h2>
      <div class="time"><div class="clock">{{ item.node.field_times}}</div> <span> {{ item.node.field_level }}</span></div>
         
          <h3><i class="ion-ios7-person-outline"></i>&nbsp;{{ item.node.field_rteacher }} </h3>
          <span ng-show="toggle" class="cssSlideUp">
          <h3><i class="ion-ios7-information-outline"></i>&nbsp;{{ item.node.field_rstat }}</h3>
          <h3><i class="ion-ios7-keypad-outline"></i>&nbsp;{{ item.node.field_format }}</h3>
          <div ng-if="item.node.field_style_em" class="text"><i class="ion-ios7-lightbulb-outline"></i>&nbsp;{{ item.node.field_style_em }}</div>
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
