<div class="modal">
  <ion-header-bar>
    <h1 class="title">Правила школы</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRules()">Закрыть</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="detail__content">
<p><em><strong>Уважаемые занимающиеся! Во избежании &nbsp;каких-либо недопониманий относительно купленных абонементов и оплаты мастер-классов, просим вас внимательно ознакомиться с правилами нашей школы!</strong></em></p>

<p class="rtecenter"><strong>Правила покупки и использования абонементов:</strong></p>

<ul>
	<li><strong>Посещение занятий школы</strong> осуществляется по абонементам, клубным картам, а также при внесении разовой оплаты или при предъявлении специальных флаеров (купонов, визиток) на занятия. &nbsp;Все оплаты, предъявления абонементов или специальных флаеров происходят перед началом занятия. Администратор вправе Вас не пустить на занятие в случае, если вы не отметили свое посещение у него.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Абонементы, купленные по любым акциям, купонам.</strong> Все абонементы, купленные по любым акциям, в том числе, по купонам, заморозке, восстановлению пропущенных занятий не подлежат, и деньги за них не возвращаются. При потере абонемента, купленного по акции или купону, абонемент не восстанавливается.&nbsp;</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Абонемент не может быть передан стороннему лицу.</strong>&nbsp; Держатель абонемента при обращении к администраторам школы должен иметь при себе абонемент. Сотрудники школы танцев могут попросить предъявить документ, удостоверяющий личность. В случае, если Вы не можете посещать занятие по данному абонементу, то Вы можете его переоформить на другое лицо при предварительном согласовании с администрацией.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Сроки действия.</strong> Абонементы&nbsp;«Стиль, преподаватель» и «Гибкий» действуют на все регулярные занятия из сетки расписания в течении <strong>60 дней</strong> с момента активации абонемента.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Активация срока действия абонемента.</strong> Срок действия абонемента начинается со следующего дня за днем покупки или с предполагаемой датой первого посещения занятий, озвученной Вами, но не позднее, чем через 2 недели после покупки абонемента.&nbsp;В исключительных случаях, по предварительной договоренности с администрацией школы, возможность активировать абонемент сохраняется в течение 30 дней со дня покупки. По истечении этого срока возможность активировать абонемент не сохраняется, абонемент не восстанавливается, и деньги за него не возвращаются.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Восстановление неиспользуемых занятий.</strong> По истечении срока действия абонемента неиспользованные занятия можно восстановить &nbsp;только при покупке нового абонемента при предварительном согласовании с администрацией школы (максимально до 3-х занятий в зависимости от типа абонемента): 2 занятия с абонемента на 10 занятий, 3 занятия с абонемента на 20 занятий, 1 занятие с купонного абонемента.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Заморозка.</strong> Абонементы на 20 занятий подлежат заморозке срока действия&nbsp; на 10 дней при предварительном согласовании с администрацией. Клубная карта&nbsp;подлежит заморозке не более, чем на 15 дней при предварительном согласовании с администрацией. Купонные абонементы заморозке не подлежат!</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Пропуски по болезни, из-за отпуска или по работе. </strong>Занятия не восстанавливаются за пропуски по неуважительной причине. Уважительными причинами считаются: болезнь (при предъявлении больничного листа), командировка (при наличии командировочного удостоверения), отпуска. Занятия по уважительным причинам не восстанавливаются по купонным абонементам. По купонному абонементу занятия не восстанавливаются ни в каком случае!</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Потеря абонемента.</strong> Потерянные абонементы могут восстанавливаться по согласованию с администрацией школы. Исключение составляют абонементы, купленные по любым акциям и купонам.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Забытые дома абонементы. &nbsp;</strong>В случае, если вы забыли абонемент дома, то посещение занятия осуществляется только по разовой оплате или при внесении залога (400р), который возвращается при предъявлении абонемента на следующем занятии.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Рассрочка.</strong>&nbsp;В случае невозможности единовременной оплаты услуг центра&nbsp;в полном объеме, мы предоставляем возможность воспользоваться рассрочкой. Вы можете купить абонемент путем внесения&nbsp;аванса&nbsp;с&nbsp;беспроцентной рассрочкой. Погашать рассрочку абонемента необходимо частями на каждом занятии. Срок рассрочки от 2-х недель до 2-х месяцев в зависимости от типа абонемента. Подробности рассрочки у администратора школы.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Посещение спец. курсов по сетке расписания.</strong> Спец. курсы можно посещать&nbsp;по абонементу "Гибкий", "Стиль, преподаватель", "Клубная карта". По купонным абонементам допустимо посещение спец.курсов при наличие мест в группах и при обязательной доплате 200 руб. за каждое посещаемое занятие.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Абонементы по купонам.</strong> Администрация вправе отказать Вам в покупке абонемента по купону, если Вы занимаетесь (занимались) в школе танцев или были хоты бы 1 раз в школе на любом занятии.</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><strong>Условия возврата абонементов.&nbsp;</strong>Деньги за абонемент возвращаются по расчету - из стоимости абонемента вычитается стоимость за использованные занятия в размере 500 руб. за 1 занятие. Например. Вы купили абонемент Гибкий за 3790 руб, отходили 4 занятия. Сумма, которая Вам возвращается = 3790 руб. - 4х500 руб.=1790 руб. Деньги за абонемент, купленному по купону, не возвращаются!</li>
</ul>

<p>&nbsp;</p>

<p><strong>Правила посещения семинаров и мастер-классов, не входящих в сетку расписания:</strong></p>

<ul>
	<li>Семинары, мастер-классы, вечеринки &nbsp;не входят в стоимость абонемента на общие занятия и оплачиваются отдельно.</li>
	<li>На все мероприятия нужна предварительная запись, иначе мы не сможем гарантировать ваше участие.</li>
	<li>В случае если вы заблаговременно (т.е не менее чем за сутки до начала) предупредили о невозможности посетить оплаченный семинар, мы возвращаем вам полную стоимость на основании заявления (правила заполнения и форма заявления находятся у администраторов школы). Возврат денег осуществляется после составления заявления, которое рассматривается администрацией в течение 3-5 рабочих дней.</li>
</ul>

<p><strong>Общие правила школы:</strong></p>

<ul>
	<li>Вход в залы допускается строго в сменной обуви.</li>
	<li>На занятия по расписанию с пометкой «можно присоединиться»&nbsp; запись не нужна. На все остальные занятия запись обязательна.</li>
	<li>В случае форс-мажора, школа оставляет за собой право замены педагога непосредственно перед началом занятия, о чём клиенты будут оповещены администратором.</li>
	<li>Мы надеемся на вашу осознанность и внимательное отношение к своему самочувствию. Каждый несет персональную ответственность за свое здоровье.</li>
	<li>В случае повреждения клиентом школы инвентаря или иного имущества школы, он обязан возместить полную стоимость нанесенного ущерба. &nbsp;</li>
	<li>Все помещения школы являются зонами, свободными от курения. В школе не разрешается находиться в нетрезвом состоянии, употреблять спиртные напитки. Видео- и фотосъёмка на территории школы без разрешения администрации Клуба запрещена.</li>
	<li>За ценные вещи, оставленные без вашего присмотра, танцевальный центр &nbsp;ответственность не несет.</li>
</ul>

<p><strong>Спасибо за понимание!</strong></p>
</div>
  </ion-content>
</div>

