.sample-show-hide {
padding: 4px;

  border:1px solid black;
  background:white;
  -webkit-transform: translate3d(0px, 6px, 0px) scale(1);

}

.sample-show-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.sample-show-hide.ng-hide {
  opacity:0;
  height: 1;
  margin-top: 0px;
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);

}



.loading-container .loading {
	font-size: 55px;
	padding: 10px;
	color: #000;
	background: none;
}
.schedule .item-thumbnail-left img {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.item {
  border-width: 1px 0 0 0;
}
.bar.bar-stable.nav-title-slide-ios7 {
background: #632c4d;
background: -moz-linear-gradient(left,  #632c4d 0%, #831c51 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#632c4d), color-stop(100%,#831c51));
background: -webkit-linear-gradient(left,  #632c4d 0%,#831c51 100%);
background: -o-linear-gradient(left,  #632c4d 0%,#831c51 100%);
background: -ms-linear-gradient(left,  #632c4d 0%,#831c51 100%);
background: linear-gradient(to right,  #632c4d 0%,#831c51 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c4d', endColorstr='#831c51',GradientType=1 );
color: #fff;
border: none;
}

.tabs-striped .tabs {
  background: #433142;
color: #FFF;
}
.tabs-top.tabs-striped .tab-item.active {
  border-color: #fff;
}
.bar.bar-stable .title {
  color: #fff;
}
.bar-stable .button:hover, .bar-stable .button {
  color: #fff;
}



/*Новости*/
.news .item-complex .item-content {
  padding: 16px 16px 16px 106px;
}
.news .item h2 {
  white-space: normal;
  line-height: 1.3;
  font-weight: 400;
}
.news p {
  background: #D2D2D2;
  padding: 2px 5px 2px;
  display: inline;
}
.bar-stable .button.button-clear.back-button {
  color: #fff;
}

.news__detail img {
  width: 100%;
}
.news__detail__img {
  position: relative;
}
.news__detail__img h3 {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
  padding: 16px 16px;
  color: #fff;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 93%, rgba(0,0,0,0.99) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(93%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,0.99)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 93%,rgba(0,0,0,0.99) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 93%,rgba(0,0,0,0.99) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 93%,rgba(0,0,0,0.99) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 93%,rgba(0,0,0,0.99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.45);
}
.news__detail__img h3 span {
  display: block;
  font-size: 12px;
  color: #FFD500;
}
.news__detail__content {
  padding: 0 16px;
}
.detail__content {
  padding: 10px 16px;
}
/*анимация*/


.schedule .list .ng-enter, 
.schedule .list .ng-leave
{ 
    -webkit-transition: 400ms all;
    -moz-transition: 400ms  all;
    -ms-transition: 400ms  all;
    -o-transition: 400ms  all;
    transition: 400ms all;
    position: relative;
    display: block;
} 
 
.schedule .list .ng-enter.ng-enter-active, 
.schedule .list .ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);

}
 
.schedule .list .ng-leave.ng-leave-active,
.schedule .list .ng-enter {
    opacity: 0;
     -webkit-transform: translate3d(0px, -160px, 0px);
     h

}

/*Левое меню*/
.left__menu {
background: #470024;
background: -moz-linear-gradient(45deg,  #470024 0%, #140f10 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#470024), color-stop(100%,#140f10));
background: -webkit-linear-gradient(45deg,  #470024 0%,#140f10 100%);
background: -o-linear-gradient(45deg,  #470024 0%,#140f10 100%);
background: -ms-linear-gradient(45deg,  #470024 0%,#140f10 100%);
background: linear-gradient(45deg,  #470024 0%,#140f10 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#470024', endColorstr='#140f10',GradientType=1 );

}
.left__menu .bar.bar-stable {
  background: none;
  border: none;
  height: 130px;
}
.left__menu .bar.bar-stable .logo {
  background: url('../img/logo.png') no-repeat center center;
  background-size: 109px 90px;
  height: 130px;
  }
.left__menu .bar.bar-stable .title {
color: #000;
}
.left__menu a.item-content {

}

.left__menu .has-header {
-webkit-transform: translate3d(0px, 90px, 0px) scale(1);
}
.left__menu .item-complex .item-content {
  background: none;
}
.menu-content {
  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2), 1px 0px 4px rgba(0, 0, 0, 0.2);
}
.left__menu .item {
    background: none;
    border-bottom: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    color: #FFF;
    font-size: 16px;
}
.col {
  padding: 0 12px;
}
.left__menu .item i.icon {
  font-size: 23px;
  margin-right: 10px;
  width: 22px;
  display: inline-block;
  padding-top: 14px;
}
.list__about i.icon {
  color: #632C4D;
  font-size: 28px;
}
.box {
  height: 200px;
  background: yellow;
}